<!DOCTYPE html>
<html lang="en">
<head>
    <header>
<br />
<h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align:center">Book Bomb</h2>


<blank>
    <div style="text-align: center">
    your one-stop destination for book reviews and recommendations!
</div>
  </blank>
<nav style="text-align: right">
<ul style="list-style-type: none; margin-right:20px">
    <li><a href="/about">About</a>
    <li><a href="/services">Services</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
</nav>

</header>
</head>
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>