@page
@model Assignment1.Pages.AboutModel
@{
}
<main>
	<h1 style="text-align:left; margin-top:20px;margin-bottom:20px">About Book Bomb</h1>
	<h2><i>"A room without books is like a body without a soul."</i></h2>
	<p>Welcome to Book Bomb, your ultimate destination for literary discovery. We believe that the right book has the power to change a perspective, ignite a passion, or simply provide a perfect escape.

Our Mission Our mission is simple: to help you find your next favorite read. In a world overflowing with content, finding a book that truly resonates with you can be overwhelming. That’s where we come in.</p>


<h3>What We Do</h3>,

<ul>
	<li>
		Honest Reviews: We provide unbiased, in-depth reviews of the latest bestsellers, timeless classics, and indie hidden gems.
</li>


</ul>









</main>