@page
@model Assignment1.Pages.ServicesModel
@{
}
<header >

</header>
<body>
<h1>Our Services</h1>

<table >
  <thead>
    <tr>
      <th>Service</th>
      <th>Price</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Service Status</th>
      <th>Deadline</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Article Posting</td>
      <td>5$</td>
      <td>We post your articles</td>
      <td>Forever</td>
      <td>Active</td>
      <td>1 Day</td>
    
      
    </tr>
    <tr>
      <td>Video Content</td>
      <td>10$</td>
      <td>We post your youtube content</td>
      <td>Forever</td>
      <td>Passive</td>
      <td>2 Days</td>
    </tr>
    <tr>
      <td>Ad</td>
      <td>20$</td>
      <td>We post your book content ads</td>
      <td>4 Days</td>
      <td>Active</td>
      <td>2 Days</td>
    </tr>
      <tr>
      <td>Post Pinning</td>
      <td>10$</td>
      <td>We pin your article</td>
      <td>1 Week</td>
      <td>Active</td>
      <td>6 Hours</td>
    </tr>
    </tr>
      <tr>
      <td>Book Recommendation</td>
      <td>100$</td>
      <td>We create a post about your book</td>
      <td>1 Week</td>
      <td>Active</td>
      <td>2 days</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td><b>Total Services:</b></td>
      <td><b>5</b></td>
    </tr>
  </tfoot>
</table>
</body>